body{
    font-family: 'Libre Baskerville', serif;
    margin-top: 0;
}
p{
    text-align: justify;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 50px;
    font-weight: 900;

}
.image-slice{
    border-left: 5px solid;
    border-image: linear-gradient(orange, cyan);
    border-image-slice: 1;

}
.link-button{
    text-decoration: none;
    background-color: cyan;
    padding: 10px 40px;
    border-radius: 5px;
}
span{
    color: orange;
}

.mission-area{
    width: 45%;

}
.half-width{
    width: 30%;

}
.half-width image{
    width: 100%;
}
.my-mission{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10.5%;
    margin-right: 10.5%;
    margin-bottom: 70px;
}
.my-mission image{
    width: 30%;
}
#mission-headline{
    text-align: center;
}
.mission-item{
    width: 33%;
}
.item-one-background{
    background-color: #fee4cd;
    padding: 15px;
    border-radius: 30px;
    margin-right: 30px;
}
.item-two-background{
    background-color: #e8f8fb;
    padding: 15px;
    border-radius: 30px;
    margin-right: 30px;
}
.item-three-background{
    background-color: #fdf7f3;
    padding: 15px;
    border-radius: 30px;
}
.practice-coding{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}
.practice-coding image{
    width: 30%;
    margin-right: 40px;
    background-image: url(images/dream-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.practice-coding-description{
    width: 60%;
    margin-left: 60px;
    line-height: 30px;
}
.team-member{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.team-member image{
    width: 30%;
    margin-left: 40px;

}
.about-team-member{
    width: 60%;
    margin-right: 60px;
    line-height: 30px;
}
.form-headline{
    text-align: center;
    font-size: 40px;
}
.contact-section{
    box-shadow: 5px 5px 20px rgba(10, 194, 194, 0.555);
    align-items: center;
    justify-content: center;
    margin: 50px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url(images/love.jpg);
    
}
.submit-button{
    width: 20%;
    background-color: cyan;
}
footer{
    text-align: center;
    background-color: #0e0d0f;
    color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
}
.footer-paragraph{
    text-align: center;
}
.contact-us{
    text-align: center;
}
input{
    width: 50%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.603);
}
#description-area{
    padding-top: 30px;
    padding-bottom: 30px;
}